body {
    font-family: 'Exo 2', sans-serif;
}

section.pricing {
    background: #F0F4F7;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

@media screen and (min-width: 1024px) {
    .pricing_size {
        max-width: 360px;
    }
}

.dark_line {
    background: #27304D;
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0px;
    border-radius: 1rem 1rem 0 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.green_icon1 {
    padding-left: 9px;
}

.green_icon {
    padding-right: 9.5px;
}

.pricing .card-name {
    font-weight: 700;
    font-size: 24px;
    color: #27304D;
    letter-spacing: 0;
    line-height: 30px;
    padding-bottom: 15px;
    margin: 0;
}

.subtext {
    font-size: 14px;
    color: #2F304B;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 600;
}

.li_text {
    font-size: 14px;
    color: #2F304B;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 400;

}

.pricing ul li {
    margin-bottom: 1rem;
}

.table {
    max-width: 290px;
    margin-top: 27px;
    margin-bottom: 20px;
}

.table td,
.table th {
    padding: 0.50rem !important;
}


table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

.first_row {
    font-size: 10px;
    background: #27304D;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
}

.second_row {
    background: #EDF1F4;
    color: #2F304B;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    font-weight: 400;
}

.my_tooltip {
    background: transparent;
    border-style: none !important;
}

.requare {
    font-weight: 600;
    font-size: 17px;
    color: #27304D;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 6px;
}

.requare_ul {
    color: #04C5CE;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-top: -7px;
    margin-left: -25px;
}

.requare_li {
    font-size: 14px;
    color: #2F304B;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 400;
}

.pricing .btn {
    border: 2px solid #04C5CE;
    border-radius: 30px;
    background: #FFFFFF;
    transition: all 0.2s;
    color: #04C5CE;
    height: 60px;
    max-width: 310px;
    padding-top: 14px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 23px;
    font-weight: 700;
}

.pricing .btn:hover {
    background: #04C5CE;
    color: #FFFFFF;
}

.disabled_btn {
    background: #EAEBEE !important;
    color: #8C8D9C !important;
    border: 2px solid #EAEBEE !important;
}

#form_card {
    max-width: 692px;
    height: 259px;
    padding-top: 26px;
    padding-left: 30px;
    margin-top: 50px;
}

@media screen and (min-width: 1921px) {
    #form_card {
        margin-left: 31.5%;
    }
}
@media screen and (min-width: 1679px) and (max-width: 1920px) {
    #form_card {
        margin-left: 21%;
    }
}
@media screen and (min-width: 1439px) and (max-width: 1678px) {
    #form_card {
        margin-left: 6%;
    }
}
@media screen and (min-width: 1279px) and (max-width: 1366px) {
    #form_card {
        margin-left: 3%;
    }
}
@media screen and (min-width: 1113px) and (max-width: 1280px) {
    #form_card {
        margin-left: -0.5%;
    }
}
@media screen and (min-width: 968px) and (max-width: 1024px) {
    #form_card {
        margin-left: -13%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1112px) {
    #form_card {
        margin-left: -10%;
    }
}
#form_card: :hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.user_profile {
    font-size: 20px;
    color: #27304D;
    letter-spacing: 0;
    line-height: 30px;
    font-weight: 700;
}

form {
    margin-right: 31px;
}

.form-control {
    max-width: 353px;
    border-radius: 30px !important;
}

.form-control:focus {
    border-color: #04C5CE !important;
    box-shadow: none !important;
}

.input_col {
    margin-bottom: 21px;
}

#btn-form {
    background: #04C5CE;
    color: #FFFFFF;
    max-width: 168px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    padding-top: 10px;
}

#btn-form:hover {
    background: #FFFFFF;
    color: #04C5CE;
}

/* Hover Effects on Card */

@media (min-width: 992px) {

    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}

/* Second Page */
.heading {
    margin-top: 43px;
}
.heading_title {
    font-size: 30px;
    color: #27304D;
    letter-spacing: 0;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 33px;
}

.heading_text {
    font-size: 15px;
    color: #27304D;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 93px;
}
#page_2 {
    padding-bottom: 100px !important;
}
.con-tooltip {
    position: relative;
    background: transparent;
    border-radius: 9px;
    padding: 0 20px;
    margin: -13px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: default;
  
  }
  
  /*tooltip */
  .tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: 100%;
    padding: 0px 20px;
    background: #FFFFFF;
    color: #27304D;
    position: absolute;
    top:-140%;
    left: -25%;
    border-radius: 4px;
    font-weight: 700;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: -1px 1px 10px rgba(107, 107, 107, 0.86);
  }
  #my-tooltip {
    font-size: 10px;
    padding-top: 13px;
    word-wrap: normal;
    text-align: center;
  }
  .pad_tootip {
    margin-left: -8px;
  }
  /* tooltip  after*/
  .tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #FFFFFF transparent transparent transparent;
    position: absolute;
    left: 40%;
  }
  
  .con-tooltip:hover .tooltip{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
      transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;
  
  }
  @keyframes odsoky {
    0%{
      transform: translateY(6px);	
    }
  
    100%{
      transform: translateY(1px);	
    }
  
  }
  
  /*hover ToolTip*/
  .left:hover {transform: translateX(-6px); }
  .top:hover {transform: translateY(-6px);  }
  .bottom:hover {transform: translateY(6px);}
  .right:hover {transform: translateX(6px); }
  
  
  
  /*left*/
  
  .left .tooltip{ top:-90%; left:-100%; }
  
  .left .tooltip::after{
    top:40%;
    left:90%;
    transform: rotate(-90deg);
  }
