body {
    font-family: 'Exo 2', sans-serif;
}

section.pricing {
    background: #F0F4F7;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.dark_line {
    background: #27304D;
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0px;
    border-radius: 1rem 1rem 0 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-name {
    font-weight: 700;
    font-size: 24px;
    color: #27304D;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0;
}

.subtext {
    font-size: 14px;
    color: #2F304B;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 600;
}

.fas,
.fa-check {
    color: #04C5CE;
}

.pricing ul li {
    margin-bottom: 1rem;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

.first_row {
    font-size: 10px;
    background: #27304D;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
}
.second_row {
    background: #EDF1F4;
    color:#2F304B;
    font-size: 12px;
letter-spacing: 0;
line-height: 15px;
font-weight: 400;
}
.my_tooltip {
    background: transparent;
    border-style: none !important;
}
.requare {
    font-weight: 600;
    font-size: 17px;
    color: #27304D;
    letter-spacing: 0;
    line-height: 30px;
}

.requare_ul {
    color: #04C5CE;
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
}

.requare_li {
    font-size: 14px;
    color: #2F304B;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 400;
}

.pricing .btn {
    border: 2px solid #04C5CE;
    border-radius: 30px;
    background: #F0F4F7;
    transition: all 0.2s;
    color: #04C5CE;
    max-height: 60px;
    max-width: 310px;
}
    /* Hover Effects on Card */

    @media (min-width: 992px) {

        .pricing .card:hover {
            margin-top: -.25rem;
            margin-bottom: .25rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
        }

        .pricing .card:hover .btn {
            opacity: 1;
        }
    }